h1,h2{
    text-align: center;
}


nav{
   background: black;
   padding: 20px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}
li{
    list-style: none;
}
a{
    color: white;
    font-size: 20px;
    font-weight: bold;
        position: relative;
}
a::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background: gold;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
a:hover::after{
 width: 100%;
}
a:hover{
    color: gold;
    transform: scale(1.4) translateY(-10px);
    text-shadow: 0px 0px 10px gold;
   
}
